<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Register Form</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7 col-lg-5">
        <div class="wrap">
          <div class="img" style="background-image: url(assets/angular.jpg);"></div>
          <div class="signup-wrap p-4 p-md-5">
            <div class="d-flex">
              <div class="w-100">
                <h3 class="mb-4">Sign Up</h3>
              </div>
            </div>
            <form action="#" (ngSubmit)="signUp()" [formGroup]="signUpForm">
              <div class="form-group">
                <input
                  id="name-field"
                  type="text"
                  class="form-control"
                  required
                  formControlName="name"
                  [ngClass]="{'field-border-warning': (signUpForm.controls.name.dirty ||
                  signUpForm.controls.name.touched) &&
                  signUpForm.controls.name.errors}"
                >
                <label class="form-control-placeholder" for="name-field">Name</label>
                <span
                  class="field-warning"
                  *ngIf="(signUpForm.controls.name.dirty ||
                  signUpForm.controls.name.touched) &&
                  signUpForm.controls.name.errors &&
                  signUpForm.controls.name.errors['required']"
                >
                Name field is required.
                </span>
              </div>
              <div class="form-group">
                <input
                  id="email-field"
                  type="text"
                  class="form-control"
                  required
                  formControlName="email"
                  [ngClass]="{'field-border-warning': (signUpForm.controls.email.dirty ||
                  signUpForm.controls.email.touched) &&
                  signUpForm.controls.email.errors}"
                >
                <label class="form-control-placeholder" for="email-field">E-mail</label>
                <span
                  class="field-warning"
                  *ngIf="(signUpForm.controls.email.dirty ||
                  signUpForm.controls.email.touched) &&
                  signUpForm.controls.email.errors &&
                  signUpForm.controls.email.errors['required']"
                >
                E-mail field is required.
                </span>
                <span
                  class="field-warning"
                  *ngIf="(signUpForm.controls.email.dirty ||
                  signUpForm.controls.email.touched) &&
                  signUpForm.controls.email.errors &&
                  signUpForm.controls.email.errors['pattern']"
                >
                E-mail not in a valid format.
                </span>
              </div>

              <div class="row">
                <div class="form-group col mt-2">
                  <input
                    id="weight-field"
                    type="number"
                    step="0.1"
                    class="form-control"
                    required
                    formControlName="weight"
                    [ngClass]="{'field-border-warning': (signUpForm.controls.weight.dirty ||
                    signUpForm.controls.weight.touched) &&
                    signUpForm.controls.weight.errors}"
                  >
                  <label class="form-control-placeholder" for="weight-field">Weight (kg)</label>
                  <span
                    class="field-warning"
                    *ngIf="(signUpForm.controls.weight.dirty ||
                    signUpForm.controls.weight.touched) &&
                    signUpForm.controls.weight.errors &&
                    signUpForm.controls.weight.errors['required']"
                  >
                  Weight field is required.
                  </span>
                </div>
                <div class="form-group col mt-2">
                  <input
                    id="height-field"
                    type="number"
                    step="1"
                    class="form-control"
                    required
                    formControlName="height"
                    [ngClass]="{'field-border-warning': (signUpForm.controls.height.dirty ||
                    signUpForm.controls.height.touched) &&
                    signUpForm.controls.height.errors}"
                  >
                  <label class="form-control-placeholder" for="height-field">Height (cm)</label>
                  <span
                    class="field-warning"
                    *ngIf="(signUpForm.controls.height.dirty ||
                    signUpForm.controls.height.touched) &&
                    signUpForm.controls.height.errors &&
                    signUpForm.controls.height.errors['required']"
                  >
                  Height field is required.
                  </span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col">
                  <label class="static-label" for="birthdate-field">Birthdate</label>
                  <input
                    id="birthdate-field"
                    type="date"
                    class="form-control"
                    required
                    formControlName="birthdate"
                    [ngClass]="{'field-border-warning': (signUpForm.controls.birthdate.dirty ||
                    signUpForm.controls.birthdate.touched) &&
                    signUpForm.controls.birthdate.errors}"
                  >
                  <span
                    class="field-warning"
                    *ngIf="(signUpForm.controls.birthdate.dirty ||
                    signUpForm.controls.birthdate.touched) &&
                    signUpForm.controls.birthdate.errors &&
                    signUpForm.controls.birthdate.errors['required']"
                  >
                  Birthdate field is required.
                  </span>
                </div>
                <div class="form-group col">
                  <label class="static-label" for="cep-field">CEP</label>
                  <input
                  id="cep-field"
                  type="text"
                  class="form-control"
                  required
                  formControlName="cep"
                  placeholder="00000-000"
                  [ngClass]="{'field-border-warning': (signUpForm.controls.cep.dirty ||
                  signUpForm.controls.cep.touched) &&
                  signUpForm.controls.cep.errors}"
                  >
                  <span
                      class="field-warning"
                      *ngIf="(signUpForm.controls.cep.dirty ||
                      signUpForm.controls.cep.touched) &&
                      signUpForm.controls.cep.errors &&
                      signUpForm.controls.cep.errors['required']"
                    >
                    CEP field is required.
                  </span>
                  <span
                    class="field-warning"
                    *ngIf="(signUpForm.controls.cep.dirty ||
                    signUpForm.controls.cep.touched) &&
                    signUpForm.controls.cep.errors &&
                    (signUpForm.controls.cep.errors['pattern'] || signUpForm.controls.cep.errors['maxlength'])"
                  >
                  CEP not in a valid format.
                  </span>
                </div>
              </div>

              <div class="form-group">
                <input
                  id="password-field"
                  type="password"
                  class="form-control"
                  required
                  formControlName="password"
                  [ngClass]="{'field-border-warning': (signUpForm.controls.password.dirty ||
                  signUpForm.controls.password.touched) &&
                  signUpForm.controls.cep.errors}"
                >
                <label class="form-control-placeholder" for="password-field">Password</label>
                <span
                  class="field-warning"
                  *ngIf="(signUpForm.controls.password.dirty ||
                  signUpForm.controls.password.touched) &&
                  signUpForm.controls.password.errors &&
                  signUpForm.controls.password.errors['required']"
                >
                Choose a password!
                </span>
                <span
                  class="field-warning"
                  *ngIf="(signUpForm.controls.password.dirty ||
                  signUpForm.controls.password.touched) &&
                  signUpForm.controls.password.errors &&
                  signUpForm.controls.password.errors['minlength']"
                >
                Your password must have at least 4 digits.
                </span>
              </div>
              <div class="form-group">
                <input
                  id="confirm-password-field"
                  type="password"
                  class="form-control"
                  required
                  formControlName="confirm_password"
                  [ngClass]="{'field-border-warning': (signUpForm.controls.confirm_password.dirty ||
                  signUpForm.controls.confirm_password.touched) &&
                  signUpForm.controls.confirm_password.errors}"
                >
                <label class="form-control-placeholder" for="confirm-password-field">Confirm Password</label>
                <span
                  class="field-warning"
                  *ngIf="(signUpForm.controls.confirm_password.dirty ||
                  signUpForm.controls.confirm_password.touched) &&
                  signUpForm.controls.confirm_password.errors &&
                  signUpForm.controls.confirm_password.errors['required']"
                >
                Confirm your password!
                </span>
              </div>

              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
              </div>
            </form>
            <p class="text-center">Already a member? <a data-toggle="tab" routerLink="/login">Sign In</a></p>
          </div> <!-- signup-wrap -->
        </div> <!-- wrap -->
      </div> <!--  -->
    </div> <!--  -->
  </div> <!-- container -->

</section>
