$font-family: "Lato", Arial, sans-serif;
$primary-color: #f9278b;
$background-color: #f8f9fd;
$heading-color: #000;
$shadow-color: rgba(0, 0, 0, 0.24);

$body-font-size: 16px;
$body-line-height: 1.8;
$body-color: gray;

$link-transition: 0.3s all ease;

$heading-line-height: 1.5;
$heading-font-weight: 400;

$button-gradient-start: #f9278b;
$button-gradient-end: #fb42e6;
$button-border-color: #f9278b;
$button-text-color: #fff;
$button-hover-start: #f9278b57;
$button-hover-end: #fb42e657;

$placeholder-color: rgba(0, 0, 0, 0.2);
$placeholder-active-color: #f9278b;
