<!-- <p>{{ loggedUser?.name }} is logged in.</p> -->

<!-- <button type="button" (click)="signOut()" class="btn btn-secondary">Sign Out</button> -->

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="wrap">

        <img src="assets/angular_logo.png" alt="">

        <div class="text-center m-3 gradient-text">
          <h2>WELCOME!</h2>
        </div>

        <div class="text-center m-3 gradient-text">
          <p class="username">{{ loggedUser?.name }}</p>
        </div>

        <div class="text-center m-3">
          <p>
            This is the Keep Health exercise made during week 10 of SESI SENAI FullStack course by Cristian Yamamoto
          </p>
        </div>

      </div>

    </div>
  </div>
</section>
